[submodule "lib/constants"]
	path = lib/constants
	url = git@github.com:juliangruber/constants-browserify
[submodule "lib/crypto"]
	path = lib/crypto
	url = git@github.com:dominictarr/crypto-browserify
[submodule "lib/domain"]
	path = lib/domain
	url = git@github.com:bevry/domain-browser
[submodule "lib/http"]
	path = lib/http
	url = git@github.com:substack/http-browserify
[submodule "lib/https"]
	path = lib/https
	url = git@github.com:substack/https-browserify
[submodule "lib/os"]
	path = lib/os
	url = git@github.com:drewyoung1/os-browserify
[submodule "lib/path"]
	path = lib/path
	url = git@github.com:substack/path-browserify
[submodule "lib/punycode"]
	path = lib/punycode
	url = git@github.com:bestiejs/punycode.js
[submodule "lib/querystring"]
	path = lib/querystring
	url = git@github.com:Gozala/querystring
[submodule "lib/stream"]
	path = lib/stream
	url = git@github.com:substack/stream-browserify
[submodule "lib/timers"]
	path = lib/timers
	url = git@github.com:jryans/timers-browserify
[submodule "lib/tty"]
	path = lib/tty
	url = git@github.com:substack/tty-browserify
[submodule "lib/util"]
	path = lib/util
	url = git@github.com:defunctzombie/node-util
[submodule "lib/vm"]
	path = lib/vm
	url = git@github.com:substack/vm-browserify
[submodule "lib/zlib"]
	path = lib/zlib
	url = git@github.com:brianloveswords/zlib-browserify
[submodule "lib/buffer"]
	path = lib/buffer
	url = git@github.com:feross/native-buffer-browserify
[submodule "lib/console"]
	path = lib/console
	url = git@github.com:Raynos/console-browserify
[submodule "lib/assert"]
	path = lib/assert
	url = git@github.com:defunctzombie/commonjs-assert
[submodule "lib/events"]
	path = lib/events
	url = git@github.com:Gozala/events
[submodule "lib/string_decoder"]
	path = lib/string_decoder
	url = git@github.com:substack/string_decoder
